# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled binaries (all platforms)
*.mex*
*.oct

# Simulink Code Generation
slprj/

# Session info
octave-workspace

# Simulink autosave extension
.autosave

# Additional files created by project
*.bak
tn_*
*.pdf
*.djvu
